body {
    background: rgba(30, 170, 255, 0.7) !important;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1750px !important;
}

table tr td {
    color: blue;
    text-align: center;
}

form.selectForm {
    border: 1px solid #7c3aed;
    display: block;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 3px 3px 3px 0 #3d3b63;
}

form.selectForm label {
    color: indigo;
    font-size: 20px;
    font-weight: bold;
    padding: 4px 9px;
}

form.selectForm select {
    color: indigo;
    font-size: 17px;
}

form.selectForm select option {
    color: indigo;
    font-size: 17px;
}

.postik {
    background: rgba(255, 255, 0, 0.8) !important;
}
